<div>
  <mat-card>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-1">
            <mat-icon class="nav_icon">home</mat-icon>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-11">
            <span class="fs-6 fw-bold">Home</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row sub-heading-background">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-1"></div>
          <div class="col-10 col-sm-10 col-md-11">
            <span class="sub-heading">Home Page Description</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="row mt-3">
    <div class="col-12 col-sm-6 col-md-3 mb-2">
      <app-home-card
        Amount="345"
        Description="Total Orders"
        [IsMuted]="true"
        MatIcon="child_friendly"
      ></app-home-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-2">
      <app-home-card
        Amount="267"
        Description="Total Expenses"
        MatIcon="account_balance_wallet"
      ></app-home-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-2">
      <app-home-card
        Amount="345"
        Description="Total Revenue"
        MatIcon="equalizer"
      ></app-home-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-2">
      <app-home-card
        Amount="345"
        Description="New Users"
        MatIcon="person"
      ></app-home-card>
    </div>
  </div>

  <mat-card class="mt-3">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-1">
            <i class="bx bx-user nav_icon"></i>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-11">
            <span class="fs-6 fw-bold">Recent Blogs</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <div class="flex-container mt-3">
        <div *ngFor="let post of Posts" class="flex-item mb-2 ms-2">
          <app-home-blog
            [Heading]="post.title"
            [Description]="post.body"
          ></app-home-blog>
        </div>
      </div>
    </div>
  </mat-card>
</div>
