<div>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-start">
      <img
        class="rounded"
        src="/assets/image/industry.jpg"
        width="110"
        height="60"
        alt="Industry"
      />
    </div>
    <div class="d-flex justify-content-start mt-3">
      <p class="fs-6 fw-bold">{{Heading}}</p>
    </div>
    <div class="d-flex justify-content-start text-wrap">
      <p class="sub-heading text-muted">{{Description}}</p>
    </div>
  </div>
</div>
