<body id="body-pd" class="body-pd">
  <header class="header body-pd" id="header">
    <div class="header_toggle">
      <mat-icon>notifications</mat-icon>
    </div>
    <div class="header_img">
      <img src="/assets/image/profile.jpg" />
    </div>
  </header>
  <div class="l-navbar show" id="nav-bar">
    <nav class="nav">
      <div>
        <a class="nav_logo">
          <mat-icon class="nav_icon">menu</mat-icon>
          <span class="nav_logo-name">MENU</span>
        </a>
        <div class="nav_list">
          <a class="nav_link active" [routerLink]="'/home'">
            <mat-icon class="nav_icon">home</mat-icon>
            <span class="nav_name">Home</span>
          </a>
          <a class="nav_link" [routerLink]="'/users'">
            <mat-icon class="nav_icon">people_alt</mat-icon>
            <span class="nav_name">Users</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <!--Container Main start-->
  <div class="ps-2 pt-2">
    <router-outlet></router-outlet>
  </div>
  <!--Container Main end-->
</body>
